@model List<ZafarStudyGroup.Models.StudyGroupMember>
@{
    ViewBag.Title = "Study Group Members";
}

<h2>Study Group Members</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.StudentNumber</td>
                <td>@member.Name</td>
                <td>@member.Surname</td>
                <td>@member.Email</td>
            </tr>
        }
    </tbody>
</table>
